body {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    overflow-y: auto;
}

.tab-navigation {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.tab-link {
    background-color: #e2e0e0;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 1em;
    border-radius: 10px;
    margin-right: 5px;
    text-decoration: none;
    color: white;
}

.tab-link:hover {
    background-color: #b5b3b3;
}

.tab-link.active {
    background-color: #00333a;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}


.rtci-table-container {
    width: 97%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    margin: 2rem auto;
    position: relative;
}

.table-container {
    width: 100%;
}

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f28106;
    color: white;
}

th:first-child {
    border-top-left-radius: 8px;
    text-align: left;
}

th:last-child {
    border-top-right-radius: 8px;
}

td:first-child {
    text-align: left;
}

/* Cell specific styling */
td {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 300; /* Light weight */
    color: #00333a;
}

tr:hover {
    background-color: #f1f1f1;
}

.table-container {
    width: 100%;
    max-height: 65vh; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f28106; /* Ensure background color is applied */
}

@media (max-width: 1100px) {
    th, td {
        padding: 0.5rem;
        font-size: 1.25vw;
    }
    #page-info {
        font-size: 2vw;
    }
    #prev-page, #next-page {
        padding: 0.5rem 1rem;
        font-size: 2vw;
    }
}

.caption-group text {
    font-size: 1.5vh;
}

.source-link {
    fill: #2d5ef9;
    cursor: pointer;
    font-size: 1.5vh;
}

.source-link:hover {
    fill: #2d5df96d;
}

@media (max-width: 800px) {
    .caption-group text {
        font-size: 1.1vh;
    }

    .source-link {
        font-size: 1.1vh;
    }
}

@media (max-width: 600px) {
    .caption-group text {
        font-size: 0.9vh;
    }

    .source-link {
        font-size: 0.9vh;
    }
}

.axis-text {
    font-size: 13px !important;
}

@media (max-width: 800px) {
    .axis-text {
        font-size: 11px !important;
    }
}

/* Media Queries for Responsive Design for tab buttons*/
@media (max-width: 550px) {
    .tab-link, .nav-button {
        font-size: 2.25vw; /* Adjust font size for smaller screens */
        padding: 0.9vw 1.8vw; /* Adjust padding for smaller screens */
        border-radius: 6px;
        margin-bottom: 0;
        margin-right: 3px;
    }

    .tab-navigation {
        top: -25px; /* Adjust this value to move tabs closer to the graph */
    }
}


.bold {
    font-weight: bold;
}

.view-toggle {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}


.view-buttons {
    position: absolute;
    right: 2px;
    top: -32px; /* Adjust this to align with the top of the table */
    display: flex;
    gap: 1rem;
}

.view-button {
    background-color: white;
    color: #ddd;
    border: none;
    padding: 0.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 1em;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.view-button.active {
    background-color: white;
    color: #00333a;
}

.view-button:hover {
    color: #2d5df96d;
}

.view-button.active:hover {
    color: #00333a;
}


/* Styles for the blue header table */
.blue-header-table th {
    background-color: #2d5ef9;
}



@media (max-width: 550px) {
    .view-buttons {
        top: -23px;
        gap: 0.5rem;
    }
    
    .view-button {
        font-size: 2vw;
        padding: 0.25em;
        border-radius: 6px;
    }
    
}

@media (max-width: 500px) {
    .view-buttons {
        top: -20px;
        gap: 0.2rem;
    }
    
    .view-button {
        font-size: 2vw;
        padding: 0.3em;
        border-radius: 5px;
    }
    
}
