# macOS specific files
.DS_Store

# IDE configs
*.idea*

# Privacy and security
.env
pipeline/gc_serv.json

# Packages
*__pycache__*

# Common directories and files to ignore
.Rapp.history
.RData
.Rhistory
.Rprofile
.Rproj.user/
.Ruserdata
.vscode/
/.vs
rtci.code-workspace
