# macOS specific files
.DS_Store

# Common directories and files to ignore
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rprofile
.Rapp.history
.vscode/
/.vs
rtci.code-workspace
*.iml
.idea/
.env

# Python and Web files 
node_modules/
poetry.lock
package-lock.json
__pycache__/
__pycache__

