/* RTCI Design Style Guide */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #00333a; /* Teal background */
}

#rtci-dashboard {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.rtci-header {
    color: white;
    font-family: 'Roboto Condensed', Arial, sans-serif; /* Roboto Condensed font */
    font-size: 3vw; /* Responsive font size based on viewport width */
    text-align: center;
    margin-top: 2rem; /* Add some top margin for spacing */
}

.filters-container {
    color: white;
    font-family: 'Roboto Condensed', Arial, sans-serif; /* Roboto Condensed font */
    font-size: 2vw; /* Responsive font size */
    text-align: center;
    margin: 1rem 0;
}

.filter-dropdown {
    font-family: 'Roboto Condensed', Arial, sans-serif !important; /* Roboto Condensed font */
    font-size:1.5vw !important; /* Responsive font size */
    margin: 0 0.5rem;
}

.rtci-line-graph {
    width: 80%; /* Dynamic width relative to the dashboard */
    height: 60%; /* Dynamic height relative to the viewport height */
    background-color: white; /* Background color for visibility */
    margin-top: 2rem; /* Space between the title and the line graph */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
    font-size: 'Roboto Condensed', Arial, sans-serif; /* Roboto Condensed font */
}

.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 12px;
    font-family: 'Roboto Condensed', Arial, sans-serif; /* Font family for tooltip */
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}



@media (max-width: 600px) {
    .rtci-header {
        font-size: 3vw; /* Adjust font size for smaller screens */
    }

    .filters-container {
        font-size: 2vw; /* Adjust font size for smaller screens */
    }

    .filter-dropdown, .filter-dropdown option {
        font-size: 1.5vw !important; /* Adjust font size for smaller screens */
    }

    .rtci-line-graph {
        width: 80%; /* Adjust width for smaller screens */
        height: 40%; /* Adjust height for smaller screens */
    }
}
