html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: white; /* Teal background */
}

#rtci-dashboard {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.rtci-header {
    color: #f28106; /* Orange text color */
    font-family: 'Roboto Condensed', Arial, sans-serif; /* Roboto Condensed font */
    font-size: 3vw; /* Responsive font size based on viewport width */
    text-align: center;
    margin-top: 2rem; /* Add some top margin for spacing */
}

.filters-container {
    color: #00333a;
    font-family: 'Roboto Condensed', Arial, sans-serif; /* Roboto Condensed font */
    font-size: 1.5vw; /* Responsive font size */
    text-align: center;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.filter-dropdown {
    font-family: 'Roboto Condensed', Arial, sans-serif !important; /* Roboto Condensed font */
    font-size:1.5vw; /* Responsive font size */
    color: #2d5ef9;
    position: relative;
    border-radius: 8px; /* Make the corners more rounded */
}

/* Style the dropdown options but note this is NOT CURRENTLY WORKING*/
.filter-dropdown option {
    font-family: 'Roboto Condensed', Arial, sans-serif !important;
    font-size: 0.5vw !important; /* Adjust the font size for options */
    color: #2be237 !important;
}

.graph-kpis-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: stretch; /* ensure items are stretched to align top and bottom */
    margin-top: 2rem; /* Space between the title and the content */
    height: 65%; /* Match the height of the line graph */
}

.rtci-line-graph {
    width: 75%; /* Adjust width to make room for KPI boxes */
    height: 100%; /* Full height within the container */
    background-color: white; /* Background color for visibility */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; /* Add rounded corners to the graph */
}

.kpi-container {
    display: flex;
    flex-direction: column;
    width: 25%; /* Adjust width to fit the KPI boxes */
    justify-content: space-between;
    padding-left: 1rem;
}

.kpi-box {
    background-color: #f28106; /* Orange background color */
    color: white;
    font-family: 'Roboto Condensed', Arial, sans-serif; /* Roboto Condensed font */
    font-size: 2vw; /* Responsive font size */
    text-align: center;
    margin-bottom: 1rem; /* Space between KPI boxes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
    flex: 1;
    border-radius: 8px; /* Add rounded corners to the KPI boxes */
    display: flex; /* Add flexbox for vertical alignment */
    flex-direction: column; /* Align children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
}

.kpi-box h2 {
    font-size: 0.75em; /* Adjust as needed */
    padding-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.kpi-box p {
    font-size: 0.5em; /* Adjust as needed */
    margin: 0.2rem;
}

.kpi-box p strong {
    font-size: 2em; /* Larger font size for the count */
}

.kpi-box:last-child {
    margin-bottom: 0; /* Remove margin from the last KPI box */
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 5px;
    background: #f28106; /* Orange background color */
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded corners */
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto Condensed', Arial, sans-serif;
    color: #00333a; /* Font color */
    opacity: 0.9; /* Slightly transparent */
    font-size: 0.8em; /* Smaller font size */
}

#download-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: #00333a;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 0.9vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increased shadow size for more depth */
    cursor: pointer;
    z-index: 1000; /* Ensure the button is above other elements */
    display: flex;
    align-items: center;
}

#download-button i {
    margin-right: 5px;
}

#download-button:hover {
    background-color: #f0f0f0;
    color: #2d5df96d;
}

#line-graph-container {
    position: relative;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    .rtci-header {
        font-size: 3vw; /* Adjust font size for smaller screens */
    }

    .filters-container {
        font-size: 1.75vw; /* Adjust font size for smaller screens */
    }

    .filter-dropdown {
        font-size: 1.75vw; /* Adjust font size for smaller screens */
    }

    .graph-kpis-container {
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: auto;
        margin-top: 1rem; /* Reduce space between the title and the content */
    }

    .rtci-line-graph {
        width: 100%; /* Adjust width for smaller screens */
        height: 50vh; /* Set a fixed height for the graph */
        margin-bottom: 0.5rem; /* Reduce space between the graph and KPI boxes */
    }

    .kpi-container {
        width: 100%;
        display: flex;
        flex-direction: row; /* Make KPI boxes horizontal */
        justify-content: space-between; /* Evenly distribute KPI boxes */
        align-items: stretch; /* Ensure KPI boxes have equal height */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
    }

    .kpi-box {
        flex: 1; /* Ensure all KPI boxes have equal width and height */
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.25rem; /* Adjust margin for spacing */
        padding-top: 0.25rem;
        padding-bottom: 0.8rem; /* Adjust padding for spacing */
        font-size: 2vw; /* Maintain responsive font size */
        text-align: center;
        background-color: #f28106; /* Orange background color */
        color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
        height: 50%; /* Ensure KPI boxes fill the available height */
    }

    .kpi-box:first-child {
        margin-left: 0; /* Remove left margin for the first KPI box */
    }

    .kpi-box:last-child {
        margin-right: 0; /* Remove right margin for the last KPI box */
    }

    .kpi-box h2 {
        font-size: 1em; /* Larger font size for title on small screens */
    }

    .kpi-box p {
        font-size: 0.75em; /* Larger font size for date on small screens */
    }

    .kpi-box p strong {
        font-size: 2em; /* Larger font size for count on small screens */
    }
}


/* For all three caption styling */
.caption-group text {
    font-size: 1.5vh; /* Initial font size */
}

.source-link {
    fill: #2d5ef9;
    cursor: pointer;
    font-size: 1.5vh;
}

.source-link:hover {
    fill: #2d5df96d;
}


@media (max-width: 800px) {
    .caption-group text {
        font-size: 1.1vh; /* Adjust size for screens less than 800 */
    }

    .source-link {
        font-size: 1.1vh; /* Adjust size for screens less than 800 */
    }
}

/* For all axis text styling */
.axis-text {
    font-size: 13px !important; /* Initial font size */
}

@media (max-width: 800px) {
    .axis-text {
        font-size: 11px !important; /* Adjust size for screens less than 800 */
    }
}