#source-container {
    padding: 1rem;
}

#source-table-container {
    height: fit-content;
    max-height: 80vh;
}


/* Container styling */
.table-container {
    width: 100%;
    height: 150vh;
    overflow-y: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}


/* Table styling */
.table-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: auto;
    flex-grow: 1;
}

/* Ensure the table header stays sticky at the top */
.table-container thead th {
    position: sticky !important;
    top: 0;
    z-index: 1; /* Ensure the header stays on top during scroll */
    background-color: #00333a; /* Match header background color */
    color: white; /* Header text color */
    padding: 10px;
    text-align: left;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    border-bottom: 1px solid #00333a;
}

.table-container td {
    color: #00333a;
    text-align: left;
}

.table-container td a {
    color: #2d5ef9;
    text-decoration: none;
}

.table-container td a:hover {
    color: #2d5df96d;
}

/* Row hover effect */
.table-container tr:hover {
    background-color: transparent;
}

/* Alternate row coloring */
.table-container tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

/* Remove the bottom border of the last row */
.table-container tbody tr:last-child td {
    border-bottom: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .table-container th, .table-container td {
        font-size: 1.5vw;
    }
    .table-container td a {
        font-size: 1.5vw;
    }
}


/* Number of Agencies Box */
.agencies-num-box {
    text-align: right;
    font-size: 1.2vw;
    color: #00333a;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 400;
}

.agencies-num-box strong {
    color: #f28106; /* Orange color */
    font-weight: bold; /* Bold */
}