.filters-container {
  margin-bottom: 1.5rem; /* change as needed for tab alignment */
}




#map {
    width: 99.5%;  /* Adjust this percentage as needed */
    height: 98%; /* Adjust this percentage as needed */
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
