body, html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.download-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.download-button {
    width: 98%;
    height: 95%;
    background-color: #2d5ef9;
    color: white;
    border: none;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
}

.download-button:hover {
    background-color: #f28106;
}
