@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body { 
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #00333a;  /* Teal background color */
  color: #ffffff;  /* White text color */
}

.shiny-output-error { 
  color: #ffffff; 
}

.shiny-output-error:before { 
  content: 'Error: '; 
}

.sidebar { 
  background-color: #2d5ef9; 
}

.main-panel { 
  width: 100%;
  height: calc(100vh - 10%); /* Teal background color for main panel */
  background-color: #00333a;  
  flex: 1; /* Allow main panel to grow and shrink */
  overflow: hidden; /* Prevent scrolling */
}


.well { 
  padding: 10px; 
  background-color: #004953;  /* Darker teal for well panels */
  color: #ffffff;
}

h2.title { 
  text-align: center; 
  font-size: 30px; 
  font-family: 'Roboto Condensed', sans-serif; 
}

select, .btn, .well, .form-control {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #004953;  /* Darker teal for dropdowns and buttons */
  color: #ffffff;  /* White text color for dropdowns and buttons */
}

select:focus, .btn:focus, .well:focus, .main-panel:focus, .form-control:focus {
  background-color: #005c6e;  /* Slightly lighter teal for focused elements */
}

.dataTables_wrapper, .dataTables_info, .paginate_button {
  color: #ffffff;
}

.paginate_button:hover {
  color: #2d5ef9;
  background-color: #ffffff;
}

.table-header {
  background-color: #2d5ef9;
  color: #ffffff;
}

.center-div {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.full-width-div {
  width: 100%;
  display: flex;
  justify-content: center; /* Center the contents horizontally */
  align-items: center; /* Center the contents vertically */
  text-align: center;
  gap: 10px; /* Add some space between elements */
  flex-wrap: nowrap; /* Prevent wrapping of elements */
}

.action-button {
  padding-top: 10px;
  text-align: left; /* Left align the button */
}

.select-wrapper {
  display: inline-block;
  min-width: 150px; /* Minimum width to maintain readability */
  border-bottom: 1px solid #ffffff;
}

.full-width-div span, .full-width-div select {
  font-size: 18px; /* Increase the font size */
}

.text-right {
  text-align: right;
}

.dataTables_wrapper {
  font-family: 'Roboto Condensed', sans-serif;
}

.dataTables_wrapper .dataTables_info {
  color: #ffffff; /* Text color for DataTables info */
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #ffffff !important; /* Text color for pagination buttons */
  background-color: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #2d5ef9 !important; /* Hover text color for pagination buttons */
  background-color: #ffffff !important; /* Hover background color for pagination buttons */
}

.dataTables_wrapper .dataTables_filter label,
.dataTables_wrapper .dataTables_length label {
  color: #ffffff; /* Text color for filter and length labels */
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
  color: #000000; /* Text color for filter input and length select */
  background-color: #ffffff; /* Background color for filter input and length select */
}

.dataTables_wrapper table.dataTable {
  color: #000000; /* Text color for table content */
  background-color: #ffffff; /* Background color for table */
}

.dataTables_wrapper table.dataTable th {
  background-color: #2d5ef9; /* Background color for table header */
  color: #ffffff; /* Text color for table header */
}

.filter-button-container {
  text-align: left;
  margin-top: 10px;
}

.filter-button-container .btn {
  font-size: 18px; /* Same font size for button */
}

@media screen and (max-width: 768px) {
  .full-width-div {
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
  }

  .select-wrapper {
    width: 100%; /* Make each select box take full width on smaller screens */
    margin-bottom: 10px; /* Add some spacing between rows */
  }
}
