name: server-repo-update

on:
  push:
    branches:
      - main
      - cw_update
      - pre-production
      - scrape-dev
      - ytd-map

jobs:
  run_pull:
    name: run pull
    runs-on: ubuntu-latest

    steps:
      - name: install ssh keys
        # check this thread to understand why this is necessary:
        # https://stackoverflow.com/a/70447517
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
      - name: remove existing .gitconfig directory
        run: |
          # Check if .gitconfig exists and remove if it's a directory
          if [ -d "$HOME/.gitconfig" ]; then
          echo "Removing existing .gitconfig directory..."
          rm -rf "$HOME/.gitconfig"
          # Check if .gitconfig exists and remove if it's a file
          elif [ -f "$HOME/.gitconfig" ]; then
          echo "Removing existing .gitconfig file..."
          rm "$HOME/.gitconfig"
          else
          echo ".gitconfig does not exist, skipping removal."
          fi

          # Create a new .gitconfig file with desired content
          echo "Creating new .gitconfig file..."
          echo "[user]" > "$HOME/.gitconfig"
          echo "    name = GitHub Actions Bot" >> "$HOME/.gitconfig"
          echo "    email = actions@github.com" >> "$HOME/.gitconfig"
        continue-on-error: true
      - name: connect and pull
        run: ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd ${{ secrets.WORK_DIR }} && git checkout ${{ secrets.MAIN_BRANCH }} && git pull"
      - name: cleanup
        run: rm -rf ~/.ssh